@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
	box-sizing: border-box;
}

.animated-gradient {
	filter: saturate(0.9);
	animation: animateBg 1s linear infinite;
	background-image: linear-gradient(90deg, #ffad5b, #e4859d, #a123db, #e4859d);
	background-size: 300% 100%;
}

@keyframes animateBg {
	0% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 0% 0%;
	}
}

.commitment-progress-loader {
	filter: saturate(0.9);
	animation: animateBg 1s linear infinite;
	animation-direction: alternate;
	background-image: linear-gradient(90deg, #ffad5b, #e4859d, #ffad5b);
	background-size: 300% 100%;
}

/* 
.committedDocCard:hover .committedDocTooltip {
	animation: effect 1s infinite 700ms;
} */
.arrow {
	display: inline-block;
	transform: translateX(20%);
	transition: 1s;
}

.button-start:hover > .arrow {
	transform: translateX(50%);
}

.tag:hover {
	transform: translateY(-25px);
	transition: 0.5s ease-in-out;
}
